body {
    background-color: black;
    line-height: 140%;
    font-family: 'Open Sans', sans-serif;
    background-image: url("../images/gemsbackground.png");
/*    https://www.shutterstock.com/image-vector/seamless-vector-pattern-linear-jewels-outline-526879321*/
}

h1 {    
    background: black;
    color: white;
    text-align: center;
    width: 50%;
    margin: 0 auto 0 auto;
    font-size: 2em;
    padding: 20px;
    line-height: 100%;
}

p {
    text-align: center;
    background-color: lavender;
}

ul {
    background-color: lavender;
    padding: 20px;
}

img {
    width: 24%;
    height: 24%;
}

#mainbody {
    max-width: 65%;
    height: 100%;
    margin: 0 auto 0 auto;
    padding: 20px;
    background-color: white;
}

#instructions {
    font-weight: bold;
    margin: 0 auto 0 auto;
    width: 20%;
    list-style-type: none;
    text-decoration: underline;
}

#numberToMatch {
    color: black;
    font-size: 3em;
    width: 50%;
    text-align: center;
    background-color: violet;
    padding: 20px 0 20px 0;
    float: left;
  
}

#numberToMatchCounter {
    color: black;
    width: 50%;
    text-align: center;
    background-color: violet;
    float: left;
    text-decoration: underline;
    

}

#yourScore {
    color: black;
    width: 50%;
    text-align: center;
    background-color: chartreuse;
    float: right;
    padding: 20px 0 20px 0;
    font-size: 3em;

}

#yourScoreCounter {
    color: black;
    width: 50%;
    text-align: center;
    background-color: chartreuse;
    float: right;
    text-decoration: underline;
}

#crystalCastles {
    margin: 30px auto 20px auto;
    padding-top: 20px;
    padding-left: 2%;
    background-color: black;
}

#wins {
    max-width: 50%;
    margin: 0 auto 0 auto;
    font-weight: bold;
}

#losses {
    max-width: 50%;
    margin: 0 auto 0 auto;
    font-weight: bold;
}

#scoreboard{
    background-color: white;
	
}